<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="auth-header-wrapper">
        <ion-col size="3">
          <p class="logo-heading-text">Logo Type</p>
        </ion-col>
        <ion-col size="4">
          <ion-item class="search-input-wrapper">
            <ion-input class="search-input"></ion-input>
            <ion-icon name="search" slot="end"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="5" class="auth-side-menu">
          <ion-row class="header-avatar-row">
            <img src="assets/img/notify-user-avatar-image.png" class="header-user-avatar">
            <h2 class="header-avatar-title">Johny Smith</h2>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="settings-options-wrapper">
    <ion-row>
      <ion-col size="4">
        <div class="settings-options-item">
          <img src="assets/img/password_icon.png" class="header-user-avatar">
          <p class="settings-option-label">Change Password</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="settings-options-item">
          <img src="assets/img/email_icon.png" class="header-user-avatar">
          <p class="settings-option-label">Change Email</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="settings-options-item">
          <img src="assets/img/privacy_icon.png" class="header-user-avatar">
          <p class="settings-option-label">Privacy Options</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="settings-options-item">
          <img src="assets/img/lang_icon.png" class="header-user-avatar">
          <p class="settings-option-label">Language</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="settings-options-item">
          <img src="assets/img/zone_icon.png" class="header-user-avatar">
          <p class="settings-option-label">Timezone</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="settings-options-item">
          <img src="assets/img/bin_icon.png" class="header-user-avatar">
          <p class="settings-option-label">Delete Account</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>